@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.popup {
    background-color: #05050591;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    transition: 4s ease-in;
}

.popup-1 {
    background-color: #05050591;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    transition: 4s ease-in;
}

.popup-2 {
    background-color: #05050591;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    transition: 4s ease-in;
}

.popup-3 {
    background-color: #05050591;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    transition: 4s ease-in;
}

.block-box {
    margin-top: 120px;
    width: 600px;
    height: 430px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
}

.close-btn {
    text-align: center;
    font-size: 20px;
    float: right;
    margin-top: -20px;
    margin-right: -20px;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn-1 {
    text-align: center;
    font-size: 20px;
    float: right;
    margin-top: -20px;
    margin-right: -20px;
}

.close-btn-1:hover {
    cursor: pointer;
}

.close-btn-2 {
    text-align: center;
    font-size: 20px;
    float: right;
    margin-top: -20px;
    margin-right: -20px;
}

.close-btn-2:hover {
    cursor: pointer;
}

.close-btn-3 {
    text-align: center;
    font-size: 20px;
    float: right;
    margin-top: -20px;
    margin-right: -20px;
}

.close-btn-3:hover {
    cursor: pointer;
}

.block-box li,
ul {
    padding: 10px;
}

.button {
    float: right;
    width: 90px;
    height: 40px;
    padding: 3px;
    border-radius: 12px;
    background-color: #397b86;
    color: white;
    border: none;
}

.button:hover {
    cursor: pointer;
    font-weight: 600;
    border: .5px #ddd solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 121px;
}

.nc-lo {
    width: 70px;
    height: 100px;
}

.vr-lo {
    width: 90px;
    height: 100px;
}

.main_head {
    width: 100%;
    background: rgb(61, 3, 84);
    background: linear-gradient(90deg, rgba(61, 3, 84, 1) 0%, rgba(88, 143, 200, 1) 35%, rgba(212, 57, 206, 1) 70%, rgba(114, 15, 149, 1) 100%);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name {
    margin-top: -10px;
}

.vr {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    color: yellow;
    stroke: black;
    font-family: 'Times New Roman', Times, serif;
}

.se {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
}

.at {
    text-align: center;
    color: white;
    font-size: 12px;
}

.nc {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

nav {
    width: 100%;
    height: 51px;
    padding: 10px;
    text-align: center;
    background-color: black;
    position: sticky;
}

nav a {
    margin: 0 3px;
    padding: 4px;
    text-decoration: none;
    color: #ddd;
    border-radius: 5px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

a:is(:link, :active, :visited).btn-nav {
    background-color: white;
    color: black;
    font-weight: 500;
}

.image-p {
    width: 100%;
    height: 500px;
    background-image: url(images/bg.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-area {
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 12px;
    padding: 2rem;
}

.card-text-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-items: center;
    margin: 60px;
}

.card {
    width: 450px;
    height: 150px;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 102px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card h1 {
    margin-top: 20px;
}

.card:hover {
    cursor: pointer;
}

.contact-area {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.contact-area a {
    padding: 10px;
    background-color: #006e0f;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.heart {
    color: red;
    margin: 0 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: 2rem 2rem 0.5rem 2rem;
    color: white;
}

#typed3 {
    width: 250px;
    margin-left: 5px;
}

.footer-line{
    background: black;
    text-align: center;
    color: white;
}